body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFF9F4;
    height: 670px;
}

.head-text {
    color: #FA804C;
}

.head-text span {
    color: #363958;
}

button {
    background-color: #3D4FF3;
}

.product {
    background-color: #363958;
    border-radius: 10px;
    margin-bottom: 10px;
}

footer img {
    width: 100px;
}